<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title, link, style)">
    <th:block th:if="${title == null}">
        <title>minhw</title>
    </th:block>
    <th:block th:if="${title != null}">
        <title th:replace="${title}">title</title>
    </th:block>

    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta name="keywords" content="minhw"/>
    <meta name="description" content="minhw"/>

    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">

    <!--
    shiro
    https://blog.csdn.net/zhuzhezhuzhe1/article/details/80584489
    https://blog.csdn.net/sjgllllll/article/details/113924639?utm_medium=distribute.pc_feed_404.none-task-blog-2~default~BlogCommendFromBaidu~Rate-4.pc_feed_404_default&depth_1-utm_source=distribute.pc_feed_404.none-task-blog-2~default~BlogCommendFromBaidu~Rate-4.pc_feed_404_defaul
 -->

    <!--  es6  -->
    <!--    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>-->
    <!--   version 7.17.8-->
<!--    <script th:src="@{/js/exp/babel.min.js}"></script>-->
    <script type="text/babel">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        hideURLbar = () => window.scrollTo(0, 1);

    </script>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/exp/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/exp/formValidation.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!-- Graph CSS -->
    <link th:href="@{/css/exp/lines.css}" rel='stylesheet' type='text/css'/>
    <link th:href="@{/css/exp/font-awesome.css}" rel="stylesheet">
    <!----webfonts--->
    <link href="#css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
    <!-- Nav CSS -->
    <link th:href="@{/css/exp/custom.css}" rel="stylesheet">


    <script th:src="@{/js/exp/jquery.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/js/exp/metisMenu.min.js}"></script>
    <script th:src="@{/js/exp/custom.js}"></script>
    <!-- Graph JavaScript -->
    <script th:src="@{/js/exp/d3.v3.js}"></script>
    <script th:src="@{/js/exp/rickshaw.js}"></script>

    <script th:src="@{/js/exp/bootstrap.min.js}"></script>
    <script th:src="@{/js/exp/sweetalert2.all.min.js}"></script>
    <!--  formValidation  -->
    <script th:src="@{/js/exp/fv/formValidation.min.js}"></script>
    <script th:src="@{/js/exp/fv/bootstrap.min.js}"></script>
    <!--zh_CN-->
    <script th:src="@{/js/exp/fv/zh_CN.js}"></script>
    <!--  formValidation END -->
    <script th:src="@{/js/base.js}" ></script>

    <th:block th:if="${link != null}">
        <th:block th:replace="${link}"></th:block>
    </th:block>

    <th:block th:if="${style != null}">
        <th:block th:replace="${style}"></th:block>
    </th:block>
</head>
<body>


</body>

</html>
