<!DOCTYPE html>
<html lang="en">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <meta charset="UTF-8">
    <title>[[${#params.value("website_logo_words")}]]</title>
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <div th:replace="/common/fragment :: frontendAdminHeadher"></div>
    <div>
        <div>

            <div th:replace="/common/fragment :: frontendFooter"></div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>
</html>