<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dr="http://www.minhw.com"
>
<head th:replace="common/template :: header(~{::title},~{::link},~{::style})">
    <meta charset="UTF-8">
    <title>拟录取退档申请处理 - [[${#params.value("website_title")}]]</title>
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <div th:replace="common/fragment :: frontendAdminHeadher"></div>
    <div id="page-wrapper">
        <div class="col-md-12 graphs">
            <div class="xs">
                <h3>拟录取退档申请处理</h3>
                <div class="grid_3 grid_5">
                    <form class="form-horizontal" action="#" >
                        <!--                        <div class="form-group">-->
                        <label for="nickname" class="col-sm-1 control-label maginbtm">姓名</label>
                        <div class="col-sm-3 maginbtm">
                            <input type="text" name="nickname" id="nickname" value="" class="form-control1 col-sm-2" />
                        </div>
                        <!--                        </div>-->
                        <!--                        <div class="form-group">-->
                        <label for="username" class="maginbtm col-sm-1 control-label">身份证号</label>
                        <div class="col-sm-3 maginbtm">
                            <input type="text" name="username" id="username" dr:dict="REQ_STATUS" class="form-control1 col-sm-2">
                        </div>
                        <!--                        </div>-->
                        <!--                        <div class="form-group">-->
                        <label for="phone" class="col-sm-1 control-label maginbtm">手机号</label>
                        <div class="col-sm-3 maginbtm">
                            <input type="text" name="phone" id="phone" dr:dict="REQ_STATUS" class="form-control1 col-sm-2">
                        </div>
                        <!--                        </div>-->
                        <!--                        <div class="form-group">-->
                        <label for="zy" class="col-sm-1 control-label maginbtm">专业</label>
                        <div class="col-sm-3 maginbtm">
                            <input type="text" name="zy" id="zy" dr:dict="REQ_STATUS" class="form-control1 col-sm-2">

                        </div>
                        <!--                        </div>-->
                        <!--                        <div class="form-group">-->
                        <label for="reqStatus" class="col-sm-1 control-label maginbtm">审核状态</label>
                        <div class="col-sm-3 maginbtm">
                            <select name="reqStatus" id="reqStatus" dr:dict="REQ_STATUS" class="form-control1 maginbtm col-sm-2">
                                <option value="">全部</option>
                            </select>
                        </div>
                        <!--                        </div>-->
                        <div class="col-sm-3 maginbtm">
                            <input class="btn-default btn" value="查询" type="submit">
                            &nbsp;
                            <input class="btn-default btn" value="重置" type="reset">
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
                <div class="bs-example4" data-example-id="contextual-table">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>姓名</th>
                                <th>拟录专业</th>
                                <th>状态</th>
                                <th>身份证号码</th>
                                <th>考生号</th>
                                <th>联系手机</th>
                                <!--                                <th>上传资料</th>-->
                                <th>申请时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody th:each="item:${list}">
                            <tr>
                                <th scope="row" th:text="${item.id}"></th>
                                <td th:text="${item.sysUser.nickname}"></td>
                                <td th:text="${item.zy}"></td>
                                <td th:text="${#dicts.keyValue('REQ_STATUS', item.reqStatus)}"></td>
                                <td th:text="${item.sysUser.username}"></td>
                                <td th:text="${item.sysUser.ksh}"></td>
                                <td th:text="${item.sysUser.phone}"></td>
                                <!--                                <td th:text="${item.imegsUrlArr}"></td>-->
                                <td th:text="${item.createDate}"></td>
                                <td>
                                    <button type="button" class="btn btn-xs btn-warning warning_44">审核</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-xs btn-danger">删除</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- /.table-responsive -->
                    <div class="page">
                        <ul class="pagination">
                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
                            </li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div th:replace="common/fragment :: frontendFooter"></div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>
</html>