<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>

<head th:replace="common/template :: header(~{::title},~{::link},~{::style})">
    <meta charset="UTF-8">
    <title>拟录取退档申请 - [[${#params.value("website_title")}]]</title>

</head>
<body>
<!--onload="countTime()"-->
<div id="wrapper">
    <!-- Navigation -->
    <div th:replace="common/fragment :: frontendAdminHeadher"></div>
    <div id="page-wrapper">
        <div class="col-md-12 graphs">
            <div class="xs">
                <h3>拟录取退档申请</h3>
                <div class="alert alert-info" id="show" role="alert">
                    <span id="showtime">
                        <span id="show_start">距离提交申请开始还有</span>
                        <span id="show_end">距离提交申请结束还有</span>
                        <span id="_d">00</span>
                        <span id="_h">00</span>
                        <span id="_m">00</span>
                        <span id="_s">00</span>
                    </span>
                </div>
                <div class="well1 white">
                    <form class="form-floating ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-url ng-valid-pattern"
                          novalidate="novalidate" id="droup_out_form" method="post" onreset="resetFrom()" ng-submit="submit()">
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label">姓名</label>
                                <input type="text" name="nickname" id="nickname" th:value="${user.nickname}"
                                       class="form-control1 ng-invalid ng-invalid-required ng-touched" disabled=""
                                       ng-model="model.name" required="required">
                            </div>
                            <div class="form-group">
                                <label class="control-label">考生号</label>
                                <input type="text" name="ksh" id="ksh" th:value="${user.ksh}" disabled=""
                                       class="form-control1  ng-invalid ng-valid-email ng-invalid-required ng-touched"
                                       ng-model="model.text" required="required">
                            </div>
                            <div class="form-group">
                                <label class="control-label">身份证号</label>
                                <input type="text" name="username" id="username" th:value="${user.username}"
                                       class="form-control1 ng-invalid ng-invalid-required ng-touched" disabled=""
                                       ng-model="model.text" required="required">
                            </div>
                            <div class="form-group">
                                <label class="control-label">拟录取专业</label>
                                <input type="text" name="lqzy" id="lqzy"
                                       class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched"
                                       ng-model="model.url" required="required">
                            </div>
                            <div class="form-group">
                                <label class="control-label">证明材料</label>
                                <input type="file" name="files" id="files" multiple="multiple"
                                       accept="image/png,image/jpeg"
                                       class="form-control1 ng-invalid ng-invalid-required ng-valid-pattern ng-touched"
                                       ng-model="model.file" required="required">
                                <p class="help-block hint-block">选择并上传通知文件中要求的全部材料</p>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="submit" class="btn btn-primary">提交申请</button>
                                <button type="reset" class="btn btn-default">重置表格</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div th:replace="common/fragment :: frontendFooter"></div>

        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<script>
    const droup_out_start_time = new Date('[[${#params.value("droup_out_start")}]]').getTime();

    const droup_out_end = '[[${#params.value("droup_out_end")}]]';
    const droup_out_end_time = new Date(droup_out_end).getTime();

    const submitDO = () => {
        messge("用户点击了提交")
        const form = document.forms.namedItem("droup_out_form");
        const formData = new FormData(form);
        // console.log(formData)
        $.ajax({
            url: "/admin/droupOut",
            type: "post",
            data: formData,
            contentType: false,
            processData: false,
            success: (data) => {
                console.log(data)
            },
            error: (data) => {
                console.log(data);
                messge("提交失败", "error");
            }
        });
        location.reload();
    }
    const resetDOFormValidation = () => {
        // 销毁校验
        // $("#droup_out_form").data('formValidation').destroy();
        $("#droup_out_form").data('formValidation', null);
        // $("#droup_out_form").data('formValidation').resetForm();
        // 重新初始化校验
        validate_form();
    }

    const getText = (id) => {
        return document.getElementById(id).innerText.trim()
    }

    const resetFrom = () => {
        resetDOFormValidation();
    }
    const countTime = () => {
        //获取当前时间
        const nowDate = new Date().getTime();
        const timeDifference = droup_out_start_time - nowDate;
        const endDate = timeDifference > 0 ? droup_out_start_time : droup_out_end_time;
        if (timeDifference > 0) {
            document.getElementById("show_end").style.display = 'none';
            document.getElementById("show_start").style.display = 'inline-block';
        } else {
            document.getElementById("show_start").style.display = 'none';
            document.getElementById("show_end").style.display = 'inline-block';
        }
        //时间差
        const leftTime = endDate - nowDate;
        //定义变量 d,h,m,s保存倒计时的时间
        let d, h, m, s;
        if (leftTime >= 0) {
            d = Math.floor(leftTime / 1000 / 60 / 60 / 24);
            h = Math.floor(leftTime / 1000 / 60 / 60 % 24);
            m = Math.floor(leftTime / 1000 / 60 % 60);
            s = Math.floor(leftTime / 1000 % 60);
            //将倒计时赋值到div中
            document.getElementById("_d").innerHTML = d + "天";
            document.getElementById("_h").innerHTML = h + "时";
            document.getElementById("_m").innerHTML = m + "分";
            document.getElementById("_s").innerHTML = s + "秒";
            //递归每秒调用countTime方法，显示动态时间效果
            setTimeout(countTime, 1000);
        } else {
            document.getElementById("showtime").style.display = 'none';
            document.getElementById("show").append("申请提交已截止，截止时间" + droup_out_end);
            $("#submit").attr("disabled", true);
        }
    }

    const validate_form = () => {
        $('#droup_out_form').formValidation({
            message: '不能为空',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                nickname: {
                    message: '姓名无效',
                    validators: {
                        notEmpty: {
                            message: '姓名不能为空'
                        },
                    },
                },
                username: {
                    message: '身份证号码无效',
                    validators: {
                        notEmpty: {
                            message: '身份证号码不能为空'
                        },
                        stringLength: {
                            min: 15,
                            max: 18,
                            message: '身份证号码长度不足'
                        },
                        regexp: {
                            regexp: /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/,
                            // regexp: /(^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$)|(^[1-9]\d{5}\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{2}$)/,
                            message: '身份证号码格式错误'
                        }
                    }
                },
                ksh: {
                    message: '考生号无效',
                    validators: {
                        notEmpty: {
                            message: '考生号不能为空'
                        },
                        stringLength: {
                            min: 14,
                            max: 14,
                            message: '请输入14位考生号'
                        },
                        regexp: {
                            regexp: /(^\d{14}$)/,
                            message: '考生号格式错误'
                        }
                    }
                },
                files: {
                    message: '文件无效',
                    validators: {
                        notEmpty: {
                            message: '证明材料不能为空'
                        },
                    }
                },
            }
        }).on('success.form.fv', function (e) {
            // Prevent form submission
            e.preventDefault();
            // Get the form instance
            const $form = $(e.target);
            // Get the FormValidation instance
            const validator = $form.data('formValidation');
            console.log(validator)
            const fullName = [validator.getFieldElements('nickname').val(),
                validator.getFieldElements('username').val(),
                validator.getFieldElements('ksh').val(),

            ].join(',');
            console.log(fullName)
            submitDO()
        });
    }
    $(() => {
        countTime();
        validate_form();
    });

</script>
</body>
</html>