<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="common/template :: header(~{::title},~{::link},~{::style})">
    <meta charset="UTF-8">
    <title>我的申请 - [[${#params.value("website_title")}]]</title>
</head>
<body>

<div id="wrapper">
    <!-- Navigation -->
    <div th:replace="common/fragment :: frontendAdminHeadher"></div>
    <div id="page-wrapper">
        <div class="graphs">
            <h3>我的申请</h3>
            <div class="graph_box">
                <div class="col-md-4 grid_2" th:each="item:${reqlist}">
                    <a th:href="'/admin/examinee/details/'+${item.id}" style="text-decoration: none"
                       data-toggle="tooltip" data-placement="top"
                       title="详情">
<!--                        target="_blank"-->
                        <div class="grid_1" style="margin-bottom: 24px">
                            <h3>[[${#dicts.keyValue('REQ_TYPE', item.type)}]]</h3>
                            <div>审核状态：[[${#dicts.keyValue('REQ_STATUS', item.reqStatus)}]]</div>
                            <img th:src="${#params.getArrZero(item.imegsUrlArr)}"
                                 height="300" style="width: 100%;">
                        </div>
                    </a>
                </div>

                <div class="clearfix"></div>
            </div>

            <div th:replace="common/fragment :: frontendFooter"></div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>
</html>