<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dr="http://www.minhw.com"
>

<head th:replace="common/template :: header(~{::title},~{::link},~{::style})">
    <meta charset="UTF-8">
    <title>奖状上报 - [[${#params.value("website_title")}]]</title>
</head>
<body>
<!-- onload="countTime()"-->
<div id="wrapper">
    <!-- Navigation -->
    <div th:replace="common/fragment :: frontendAdminHeadher"></div>
    <div id="page-wrapper">
        <div class="col-md-12 graphs">
            <div class="xs">
                <h3>获奖资料上报申请</h3>
                <div class="alert alert-info" id="show" role="alert">
                    <strong>温馨提醒：</strong>
                    <span id="showtime">
                        <span id="show_start">距离提交申请开始还有</span>
                        <span id="show_end">距离提交申请结束还有</span>
                        <span id="_d">00</span>
                        <span id="_h">00</span>
                        <span id="_m">00</span>
                        <span id="_s">00</span>
                    </span>
                    <span th:text="${error}" style="color: red"></span>
                </div>
                <!--                <div class="alert alert-danger" role="alert" hidden="false">-->
                <!--                    <strong>Oh snap!</strong> Change a few things up and try submitting again.-->
                <!--                </div>-->
                <div class="well1 white">
                    <form id="winner_form" onreset="resetNum()" class="form-floating ng-pristine ng-invalid"
                          novalidate="novalidate" method="post" ng-submit="submit()">
                        <div class="form-group">
                            <label class="control-label">姓名</label>
                            <input type="text" name="nickname" id="nickname" th:value="${user.nickname}"
                                   class="form-control1 ng-invalid ng-invalid-required ng-touched" disabled=""
                                   ng-model="model.name" required="required">
                        </div>
                        <div class="form-group">
                            <label class="control-label">考生号</label>
                            <input type="text" name="ksh" id="ksh" th:value="${user.ksh}" disabled=""
                                   class="form-control1  ng-invalid ng-valid-email ng-invalid-required ng-touched"
                                   ng-model="model.text" required="required">
                        </div>
                        <div class="form-group filled">
                            <label class="control-label">性别</label>
                            <!--                                <select class="form-control1 ng-invalid ng-invalid-required" ng-model="model.select"-->
                            <!--                                        required="">-->
                            <!--                                    <option value="0">男</option>-->
                            <!--                                    <option value="1">女</option>-->
                            <!--                                </select>-->
                            <div class="radios">
                                <label for="radio-01" class="label_radio">
                                    <input type="radio" name="sex" value="1" title="男" disabled=""
                                           th:checked="${user.sex} == '1' ? true:false " id="radio-01"> 男
                                </label>
                                <label for="radio-02" class="label_radio">
                                    <input type="radio" name="sex" value="2" disabled=""
                                           th:checked="${user.sex} == '2' ? true:false " title="女"
                                           id="radio-02"> 女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">身份证号</label>
                            <input type="text" name="username" id="username"
                                   class="form-control1 ng-invalid ng-invalid-required ng-touched"
                                   th:value="${user.username}" disabled=""
                                   ng-model="model.text" required="required">
                        </div>
                        <div class="form-group">
                            <label class="control-label">联系电话</label>
                            <input type="text" th:value="${user.phone}" disabled=""
                                   class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched"
                                   ng-model="model.url" required="required">
                        </div>
                        <div class="form-group">
                            <label class="control-label">毕业学校</label>
                            <input type="text" th:value="${user.abbreviation}" disabled=""
                                   class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched"
                                   ng-model="model.url" required="required">
                        </div>
                        <div class="form-group filled">
                            <label class="control-label">高考类别</label>
                            <select class="form-control1 ng-invalid ng-invalid-required" ng-model="model.select"
                                    dr:dict="CEEC"
                                    th:disabled="${disabled}"
                                    name="gklb"
                                    required="">
                            </select>
                        </div>
                        <div class="form-group">
                            <h4>我的奖项 &nbsp;<small>温馨提示：点击"添加最高奖项"按钮可快速添加奖项</small></h4>
                            <textarea th:disabled="${disabled}" style="height: 120px;" name="highestPrize"
                                      id="highestPrize"
                                      placeholder="多个奖项请用序号标出，格式如：1.奖项一...... ;2.奖项二......; 请准确描述出时间+赛项（举办单位）+等级"
                                      class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" th:disabled="${disabled}" class="btn btn-primary btn-lg"
                                    data-toggle="modal"
                                    data-target="#myModal">
                                快速添加最高奖项
                            </button>
                        </div>
                        <!--                            <div class="form-group">-->
                        <!--                                <label class="control-label">Number</label>-->
                        <!--                                <input type="text"-->
                        <!--                                       class="form-control1 ng-invalid ng-invalid-required ng-valid-pattern ng-touched"-->
                        <!--                                       ng-model="model.number" ng-pattern="/[0-9]/" required="">-->
                        <!--                                <p class="help-block hint-block">Numeric values from 0-***</p>-->
                        <!--                            </div>-->

                        <!--                            <div class="form-group">-->
                        <!--                                <div class="checkbox1">-->
                        <!--                                    <label>-->
                        <!--                                        <input type="checkbox" ng-model="model.winner" required=""-->
                        <!--                                               class="ng-invalid ng-invalid-required">-->
                        <!--                                        我郑重的承诺我申请所用奖项符合学校要求，本人自愿承担不符合要求的后果-->
                        <!--                                    </label>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <div class="form-group filled">
                            <label class="control-label">申请类别</label>
                            <select class="form-control1 ng-invalid ng-invalid-required" ng-model="model.select"
                                    dr:dict="CEEC_TYPE"
                                    name="type"
                                    th:disabled="${disabled}"
                                    required="">
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">申请专业</label>
                            <input type="text"
                                   th:disabled="${disabled}"
                                   name="zy" id="zy"
                                   class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched"
                                   ng-model="model.url" required="required">
                        </div>

                        <div class="form-group">
                            <label class="control-label">证明材料</label>
                            <!--                            <input type="file" name="files" id="files" multiple="multiple" accept="image/png,image/jpeg"-->
                            <!--                                   class="form-control1 ng-invalid ng-invalid-required ng-valid-pattern ng-touched"-->
                            <!--                                   ng-model="model.file" required="required">-->
                            <input id="file-1" name="file" type="file" multiple accept="image/png,image/jpeg"
                                   class="file form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched"
                                   th:disabled="${disabled}"
                                   style="display: block"
                                   data-overwrite-initial="false" required>
                            <p class="help-block hint-block">选择并上传通知文件中要求的全部材料（只支持 "jpg, png, jpeg" 的文件扩展名）</p>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="submit" th:disabled="${disabled}" class="btn btn-primary">提交申请
                            </button>
                            &nbsp;
                            <button type="reset" th:disabled="${disabled}" class="btn btn-default">重置表格</button>
                        </div>
                    </form>
                </div>
            </div>
            <div th:replace="common/fragment :: frontendFooter"></div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <form id="heightPrizeFrom">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="gridSystemModalLabel">添加奖项</h4>
                    <small>温馨提示：每次只能添加一个奖项，多个奖项请多次添加</small>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label">获奖项目名称
                        </label>
                        <input class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched"
                               ng-model="model.url" name="HPname" id="HPname" required="required"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label normal">获奖时间</label>
                        <input type="date" class="form-control1 ng-invalid ng-invalid-required"
                               ng-model="model.date" name="HPdata" id="HPdata" required=""/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">获奖证书发证单位
                        </label>
                        <input class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched"
                               ng-model="model.url" name="HPDepartment" id="HPDepartment" required="required"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">获奖项目等级
                        </label>
                        <input class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched"
                               ng-model="model.url" name="HPgradeC" id="HPgradeC" required="required"/>
                    </div>

                    <div class="modal-footer">
                        <button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="smtHighestPrize()" data-dismiss="modal"
                        >添加
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </form>
</div>
<script >
    let sumPrize = 0;
    const winner_start_time = new Date('[[${#params.value("winner_start")}]]').getTime();

    const winner_end = '[[${#params.value("winner_end")}]]';
    const winner_end_time = new Date(winner_end).getTime();
    let fileArrWin = [];

    smtHighestPrize = () => {
        sumPrize += 1;
        // const heightPrizeFrom = $("#heightPrizeFrom").val();
        // console.log(heightPrizeFrom)
        // document.getElementById("highestPrize").append(sumPrize + "." +
        //     $("#HPdata").val() + "," + $("#HPname").val() +
        //     "（发证单位：" + $("#HPDepartment").val() +
        //     "）" + $("#HPgradeC").val() +
        //     "。");
        let highestPrizeTemp = $("#highestPrize").val();
        highestPrizeTemp += sumPrize + "." +
            $("#HPdata").val() + "，" + $("#HPname").val() +
            "（发证单位：" + $("#HPDepartment").val() +
            "）" + $("#HPgradeC").val() +
            "。"
        $("#highestPrize").val(highestPrizeTemp);
        messge("添加奖项成功");
    }

    const submitWin = (data = {}) => {
        if (fileArrWin < 1) {
            messge("证明文件未上传", "error");
            return;
        }
        data.imegsUrlArr = JSON.stringify(fileArrWin);

        console.log(data)
        $.ajax({
            url: "/admin/examinee/winner",
            data: data,
            type: "post",
            dataType: "json",
            success: (data) => {
                // 成功
                Swal.fire({
                    title: data.message,
                    confirmButtonText: '确定',
                    icon: 'success',
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.href = data.other != null ? data.other : '/admin/examinee';
                    }
                })

            },
            error: (data) => {
                Swal.fire({
                    icon: 'error',
                    title: '出错了...',
                    text: data.message,
                    footer: '<a href="/logout">请尝试退出系统，重新登陆在填写</a>'
                })
            }
        });

    }

    const resetNum = () => {
        sumPrize = 0;
        resetWinFrom();
        fileArrWin = [];
    }

    const getText = (id) => {
        return document.getElementById(id).innerText.trim()
    }

    const resetWinFrom = () => {
        resetWinnerFormValidation();
    }

    const resetWinnerFormValidation = () => {
        $("#droup_out_form").data('formValidation', null);
        validate_form();
    }

    const countTime = () => {
        //获取当前时间
        const nowDate = new Date().getTime();
        const timeDifference = winner_start_time - nowDate;
        const endDate = timeDifference > 0 ? winner_start_time : winner_end_time;
        if (timeDifference > 0) {
            document.getElementById("show_end").style.display = 'none';
            document.getElementById("show_start").style.display = 'inline-block';
        } else {
            document.getElementById("show_start").style.display = 'none';
            document.getElementById("show_end").style.display = 'inline-block';
        }
        //时间差
        const leftTime = endDate - nowDate;
        //定义变量 d,h,m,s保存倒计时的时间
        let d, h, m, s;
        if (leftTime >= 0) {
            d = Math.floor(leftTime / 1000 / 60 / 60 / 24);
            h = Math.floor(leftTime / 1000 / 60 / 60 % 24);
            m = Math.floor(leftTime / 1000 / 60 % 60);
            s = Math.floor(leftTime / 1000 % 60);
            //将倒计时赋值到div中
            document.getElementById("_d").innerHTML = d + "天";
            document.getElementById("_h").innerHTML = h + "时";
            document.getElementById("_m").innerHTML = m + "分";
            document.getElementById("_s").innerHTML = s + "秒";
            //递归每秒调用countTime方法，显示动态时间效果
            setTimeout(countTime, 1000);
        } else {
            document.getElementById("showtime").style.display = 'none';
            document.getElementById("show").append("申请提交已截止，截止时间" + winner_end);
            $("#submit").attr("disabled", true);
            // disabled="true"
            $("#file-1").attr("disabled", true);

        }
    }
    const validate_form = () => {
        $('#winner_form').formValidation({
            message: '不能为空',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                nickname: {
                    message: '姓名无效',
                    validators: {
                        notEmpty: {
                            message: '姓名不能为空'
                        },
                    },
                },
                username: {
                    message: '身份证号码无效',
                    validators: {
                        notEmpty: {
                            message: '身份证号码不能为空'
                        },
                        stringLength: {
                            min: 15,
                            max: 18,
                            message: '身份证号码长度不足'
                        },
                        regexp: {
                            regexp: /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/,
                            // regexp: /(^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$)|(^[1-9]\d{5}\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{2}$)/,
                            message: '身份证号码格式错误'
                        }
                    }
                },
                ksh: {
                    message: '考生号无效',
                    validators: {
                        notEmpty: {
                            message: '考生号不能为空'
                        },
                        stringLength: {
                            min: 14,
                            max: 14,
                            message: '请输入14位考生号'
                        },
                        regexp: {
                            regexp: /(^\d{14}$)/,
                            message: '考生号格式错误'
                        }
                    }
                },
                highestPrize: {
                    message: '奖项无效',
                    validators: {
                        notEmpty: {
                            message: '奖项不能为空'
                        }
                    },
                },
                type: {
                    message: '申请类别无效',
                    validators: {
                        notEmpty: {
                            message: '申请类别不能为空'
                        }
                    },
                },
                gklb: {
                    message: '高考类别无效',
                    validators: {
                        notEmpty: {
                            message: '高考类别不能为空'
                        }
                    },
                },
                zy: {
                    message: '申请专业无效',
                    validators: {
                        notEmpty: {
                            message: '申请专业不能为空'
                        }
                    },
                },
                file: {
                    message: '文件无效',
                    validators: {
                        notEmpty: {
                            message: '证明材料不能为空'
                        },
                    }
                },
            }
        }).on('success.form.fv', function (e) {
            // Prevent form submission
            e.preventDefault();
            // Get the form instance
            const $form = $(e.target);
            // Get the FormValidation instance
            const validator = $form.data('formValidation');

            const zy = validator.getFieldElements('zy').val();
            const highestPrize = validator.getFieldElements('highestPrize').val();
            const gklb = validator.getFieldElements('gklb').val();
            const type = validator.getFieldElements('type').val();
            submitWin({zy, reqRemark: highestPrize, gklb, type})
        });
    }
    $("#file-1").fileinput({
        language: 'zh',
        uploadUrl: '/admin/upload/user',
        // deleteUrl: '/admin/file/delete', // 未实现
        allowedFileExtensions: ['jpg', 'png', 'jpeg'],
        overwriteInitial: false,
        showPreview: true,
        showCaption: false,
        dropZoneEnabled: false,
        maxFileSize: 20000,
        maxFilesNum: 5,
        showRemove: false,
        enctype: 'multipart/form-data',
        validateInitialCount: true,
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        allowedPreviewTypes: ['image'],
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
            // const newtext = (!filename || filename == '') ? '' :
            //     String(filename).replace(/[\-\[\]\/\{}:;#%=\(\)\*\+\?\\\^\$\|&"']/g, '_');
            //去除空格
            // return newtext.replace(/(^\s+)|(\s+$)/g, "").replace(/\s/g, "");
        }
    }).on("fileuploaded", function (event, data, previewId, index) {
        // var url = data.response.Result;
        fileArrWin.push(data.response.data.path);
    });
    $(() => {
        countTime();
        validate_form();
    });
</script>
</body>
</html>