<!DOCTYPE html>
<html lang="en">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <meta charset="UTF-8">
    <title>奖状上报</title>
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <div th:replace="/common/fragment :: frontendAdminHeadher"></div>
    <div id="page-wrapper">
        <div class="col-md-12 graphs">
            <div class="xs">
                <h3>获奖资料上报申请</h3>
                <div class="alert alert-info" id="show" role="alert">
                    <span id="showtime">
                    距离提交申请结束还有
                        <span id="_d">00</span>
                        <span id="_h">00</span>
                        <span id="_m">00</span>
                        <span id="_s">00</span>
                    </span>
                </div>
                <div class="well1 white">
                    <form class="form-floating ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-url ng-valid-pattern"
                          novalidate="novalidate" method="post" action="#" ng-submit="submit()">
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label">姓名</label>
                                <input type="text" name="name" id="name"
                                       class="form-control1 ng-invalid ng-invalid-required ng-touched"
                                       ng-model="model.name" required="required">
                            </div>
                            <div class="form-group">
                                <label class="control-label">考生号</label>
                                <input type="text" name="ksh" id="ksh"
                                       class="form-control1  ng-invalid ng-valid-email ng-invalid-required ng-touched"
                                       ng-model="model.text" required="required">
                            </div>
                            <div class="form-group filled">
                                <label class="control-label">性别</label>
<!--                                <select class="form-control1 ng-invalid ng-invalid-required" ng-model="model.select"-->
<!--                                        required="">-->
<!--                                    <option value="0">男</option>-->
<!--                                    <option value="1">女</option>-->
<!--                                </select>-->
                                <div class="radios">
                                    <label for="radio-01" class="label_radio">
                                        <input type="radio" name="sex" value="1" title="男" id="radio-01"> 男
                                    </label>
                                    <label for="radio-02" class="label_radio">
                                        <input type="radio" name="sex" value="2" title="女" id="radio-02"> 女
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">身份证号</label>
                                <input type="text" name="username" id="username"
                                       class="form-control1 ng-invalid ng-invalid-required ng-touched"
                                       ng-model="model.text" required="required">
                            </div>
                            <div class="form-group">
                                <label class="control-label">联系电话</label>
                                <input type="text"
                                       class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched"
                                       ng-model="model.url" required="required">
                            </div>
                            <div class="form-group">
                                <label class="control-label">毕业学校</label>
                                <input type="text"
                                       class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched"
                                       ng-model="model.url" required="required">
                            </div>
                            <div class="form-group filled">
                                <label class="control-label">高考类别</label>
                                <select class="form-control1 ng-invalid ng-invalid-required" ng-model="model.select"
                                        required="">
                                    <option value="0">对口</option>
                                    <option value="1">统考</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">获奖项目名称
                                </label>
                                <textarea
                                       class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched"
                                          ng-model="model.url" required="required"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label normal">获奖时间</label>
                                <input type="date" class="form-control1 ng-invalid ng-invalid-required"
                                       ng-model="model.date" required="">
                            </div>
                            <div class="form-group">
                                <label class="control-label">获奖证书发证单位
                                </label>
                                <textarea
                                        class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched"
                                        ng-model="model.url" required="required"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">获奖项目等级
                                </label>
                                <textarea
                                        class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched"
                                        ng-model="model.url" required="required">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">申请专业</label>
                                <input type="text"
                                       class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched"
                                       ng-model="model.url" required="required">
                            </div>

<!--                            <div class="form-group">-->
<!--                                <label class="control-label">Number</label>-->
<!--                                <input type="text"-->
<!--                                       class="form-control1 ng-invalid ng-invalid-required ng-valid-pattern ng-touched"-->
<!--                                       ng-model="model.number" ng-pattern="/[0-9]/" required="">-->
<!--                                <p class="help-block hint-block">Numeric values from 0-***</p>-->
<!--                            </div>-->

<!--                            <div class="form-group">-->
<!--                                <div class="checkbox1">-->
<!--                                    <label>-->
<!--                                        <input type="checkbox" ng-model="model.winner" required=""-->
<!--                                               class="ng-invalid ng-invalid-required">-->
<!--                                        申请调节确认符合要求?-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="form-group filled">
                                <label class="control-label">申请类别</label>
                                <select class="form-control1 ng-invalid ng-invalid-required" ng-model="model.select"
                                        required="">
                                    <option value="0">获奖专业报考申请</option>
                                    <option value="1">免试申请</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">证明材料</label>
                                <input type="file" name="imegs" multiple="multiple" accept="image/png,image/jpeg"
                                       class="form-control1 ng-invalid ng-invalid-required ng-valid-pattern ng-touched"
                                       ng-model="model.file" required="required">
                                <p class="help-block hint-block">选择并上传通知文件中要求的全部材料</p>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="submit" class="btn btn-primary">提交申请</button>
                                <button type="reset" class="btn btn-default">重置表格</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div th:replace="/common/fragment :: frontendFooter"></div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<script>
    function submit() {
        messge("用户点击了提交")
    }

    function countTime(time) {
        //获取当前时间
        var date = new Date();
        var now = date.getTime();
        //设置截止时间
        var str = "2022/3/24 10:14:00";
        var endDate = new Date(str);
        var end = endDate.getTime();

        //时间差
        var leftTime = end - now;
        //定义变量 d,h,m,s保存倒计时的时间
        var d, h, m, s;
        console.log(leftTime)
        console.log(leftTime > 0)
        if (leftTime > 0) {
            d = Math.floor(leftTime / 1000 / 60 / 60 / 24);
            h = Math.floor(leftTime / 1000 / 60 / 60 % 24);
            m = Math.floor(leftTime / 1000 / 60 % 60);
            s = Math.floor(leftTime / 1000 % 60);
            //将倒计时赋值到div中
            document.getElementById("_d").innerHTML = d + "天";
            document.getElementById("_h").innerHTML = h + "时";
            document.getElementById("_m").innerHTML = m + "分";
            document.getElementById("_s").innerHTML = s + "秒";
            //递归每秒调用countTime方法，显示动态时间效果
            setTimeout(countTime, 1000);
        } else {
            document.getElementById("showtime").style.display = 'none';
            document.getElementById("show").append("申请提交已截止，截止时间" + str);

            $("#submit").attr("disabled", true);
        }
    }
    onload(this.countTime());
</script>
</body>
</html>