<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="common/template :: header(~{::title},~{::link},~{::style})">
    <meta charset="UTF-8"/>
    <title>[[${#params.value("website_title")}]]</title>

    <link th:href="@{/css/base.css}" rel="stylesheet">
    <script th:src="@{/js/index.js}"></script>
</head>
<body style="position: relative;">
<!--<div th:replace="common/fragment :: frontendHeadher"></div>-->

<!--test-->

<!--<h3><a href="/admin/userInfo/userList">userInfo</a></h3>-->
<!--<h3><a shiro:hasRole="admin" href="/admin/userInfo/userAdd">userAdd</a></h3>-->
<!--<h3><a href="/admin/userInfo/userDel">userDel</a></h3>-->
<!--<shiro:guest>-->
<!--    欢迎游客访问，<a href="/login">登录</a>-->
<!--</shiro:guest>-->
<!--<shiro:user>-->
<!--    欢迎-->
<!--    <shiro:principal property="username"/>-->
<!--    登录, <a href="/logout">logout</a>-->
<!--</shiro:user>-->
<section class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="page-header">
                <h1>[[${#params.value("website_logo_words")}]]
                    <small>[[${#params.value("website_logo_small_words")}]]</small></h1>
            </div>
            <div class="panel panel-default">
                <shiro:guest>
                    欢迎游客访问，<a href="/login">登录</a>
                </shiro:guest>
                <shiro:user>
                    欢迎
                    <shiro:principal property="username"/>
                    登录, 【<a href="/logout">快速退出</a>】

                    [
                    <shiro:principal property="sex"/>
                    ]
                    <input type="text" id="test" value="">
                    <shiro:principal property="phone"/>
                </shiro:user>
                <div id="shiro_username" hidden>
                    <shiro:principal property='username'/>
                </div>

            </div>
        </div>
    </div>
</section>

<div th:replace="common/fragment :: frontendFooter"></div>
<script type="text/babel">
    const sss = document.getElementById("shiro_username").innerText.trim();
    console.log(sss)
    document.getElementById("test").value = sss;
    const test1 = '[[${#params.value("website_logo_words")}]]';
    console.log(test1);
    console.log('[[${#params.value("website_title")}]]');
</script>
</body>
</html>