<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登陆</title>

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link th:href="@{/css/exp/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/exp/font-awesome.css}" rel="stylesheet">
    <link href="#css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">

    <script th:src="@{/js/exp/jquery.min.js}"></script>
    <script th:src="@{/js/exp/bootstrap.min.js}"></script>
    <script th:src="@{/js/exp/sweetalert2.all.min.js}"></script>

    <script th:src="@{/js/base.js}"></script>
</head>
<body id="login">
<div class="login-logo">
    <a href="/">
        <img src="images/logo.png" alt=""/>
    </a>
</div>
<h2 class="form-heading">登陆</h2>
<div class="app-cam">
    <!--    <form>-->
    <input type="text" class="text" value="身份证号" id="username" onfocus="this.value = '';"
           onblur="if (this.value == '') {this.value = '身份证号';}">
    <input type="password" value="Password" id="password" onfocus="this.value = '';"
           onblur="if (this.value == '') {this.value = '密码';}">
    <label class="checkbox-custom check-success">
        <input type="checkbox" name="rememberMe" id="rememberMe"> <label for="rememberMe">记住我</label>
    </label>
    <div class="submit"><input type="submit" onclick="login()" value="登陆"></div>
    <!--        <div class="login-social-link">-->
    <!--            <a href="index.html" class="icon-qq">-->
    <!--                QQ-->
    <!--            </a>-->
    <!--            <a href="index.html" class="icon-wechat">-->
    <!--                微信-->
    <!--            </a>-->
    <!--        </div>-->
    <ul class="new" style="margin-top: 4px">
        <li class="new_left"><p><a href="#">忘记密码？</a></p></li>
        <li class="new_right"><p class="sign">新用户？<a href="/register"> 注册 </a></p></li>
        <div class="clearfix"></div>
    </ul>
    <!--    </form>-->
</div>

<div th:replace="/common/fragment :: frontendLRFooter"></div>

</body>
</html>
