<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
<!--    <script src="js/bootstrap.min.js"></script>-->
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link th:href="@{/css/exp/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/exp/font-awesome.css}" rel="stylesheet">
    <link href="#css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">

    <script th:src="@{/js/exp/jquery.min.js}"></script>
    <script th:src="@{/js/exp/bootstrap.min.js}"></script>
    <script th:src="@{/js/exp/sweetalert2.all.min.js}"></script>

    <script th:src="@{/js/base.js}"></script>
</head>
<body id="login">
<div class="login-logo">
    <a href="index.html"><img src="images/logo.png" alt=""/></a>
</div>
<h2 class="form-heading">注册用户 备注：表单正则验证没写</h2>
<div class="form-signin app-cam">
    <p>在下面输入您的个人详细信息</p>
    <input type="text" class="form-control1" placeholder="姓名" name="name" id="name" autofocus="">
    <div class="radios">
        <label for="radio-01" class="label_radio">
            <input type="radio" name="sex" value="1" title="男" id="radio-01"> 男
        </label>
        <label for="radio-02" class="label_radio">
            <input type="radio" name="sex" value="2" title="女" id="radio-02"> 女
        </label>
    </div>
    <!--    <input type="text" class="form-control1" name="name" id="name" placeholder="毕业中学" autofocus="">-->
    <input type="text" class="form-control1" name="phone" id="phone" placeholder="联系电话" autofocus="">
    <input type="text" class="form-control1" name="ksh" id="ksh" placeholder="考生号" autofocus="">
    <input type="text" class="form-control1" name="username" id="username" placeholder="身份证号" autofocus="">
    <input type="password" class="form-control1" name="password" id="password" placeholder="密码">
    <input type="password" class="form-control1" name="password1" id="password1" placeholder="重新输入密码">
    <!--    <label class="checkbox-custom check-success">-->
    <!--        <input type="checkbox" value="agree this condition" id="checkbox1"> <label for="checkbox1">我同意服务条款和隐私政策</label>-->
    <!--    </label>-->
    <button class="btn btn-lg btn-success1 btn-block" onclick="regAddUser()" type="submit">提交</button>
    <div class="registration">
        已经注册了。
        <a class="" href="/login">
            登陆
        </a>
    </div>
</div>

<div th:replace="/common/fragment :: frontendLRFooter"></div>

<script>
    function regAddUser() {
        var name = $("#name").val();
        var ksh = $("#ksh").val();
        //phone
        var phone = $("#phone").val();
        var username = $("#username").val();
        var password = $("#password").val();
        var password1 = $("#password1").val();
        if (password != password1) return 0;
        // var vcode = $("#vcode").val();
        // var rememberMe = $('#checkbox1').is(':checked');
        $.ajax({
            url: "/regAdd",
            data: {username, password, password1, name, phone, ksh},
            type: "post",
            dataType: "json",
            success: function (data) {
                if (data.status == 200) {
                    messge("注册成功，3s 后进入登陆页面");
                    setTimeout(function () {
                        location.href = data.other;
                    }, 3000);
                } else {
                    messge(data.message, "error");
                }
            },
            error: function () {
                messge("注册失败", "error");
            }
        });
    }
</script>
</body>
</html>
